.calculator {
  max-width: 400px;
  margin: auto;
  padding: 1em;
  border: 1px solid #cccccc;
  border-radius: 1em;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgb(0 0 0 0.1);
}
input[type="number"] {
  width: calc(50% -1em);
  margin: 0.5em;
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #cccccc;
  border-radius: 0.3em;
  box-sizing: border-box;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1em;
}
button {
  flex: 1 1 calc(50% -1em);
  margin: 0.5em;
  padding: 0.5em;
  font-size: 1em;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #007bff;
}
h1,
h2 {
  text-align: center;
}
h1 {
  margin-bottom: 1em;
}
h2 {
  margin-top: 1em;
  color: #333;
}
